@media only screen and (min-width:320px) and (max-width: 375px) {
	.section2 .sheld .content-shel {
        padding: 25px 86px 40px !important;
    }
}
@media only screen and (max-width:425px) and (min-width: 376px) { 
    .section1 .homeTopLeft .shield {
        padding: 98px;
    }
    .section2 .sheld .content-shel {
        padding: 146px !important;
        padding-top: 12px !important;
    }
}
@media only screen and (min-width:320px) and (max-width: 768px) { 
    header #navbar {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

