@media screen and (max-width:320px) {
	#page-reviews .cover-img {
		width: 100% !important;
		background-repeat: no-repeat;
		height: auto !important;
	}
	#page-reviews .cover-img .cover-text {
		height: 255px;
	}
	#page-reviews .cover-img .cover-text h2 {
		font-size: 12pt;
		color: #fff;
	}
	#page-reviews .cover-img .cover-text p {
		font-size: 10pt;
		margin-bottom: 35px;
	}
	#page-reviews .cover-img .cover-text a {
		font-size: 7pt;
	}
	#page-reviews .content-reviews .client-tabs li {
		width: 100%;
	}
	#page-reviews .content-reviews .client-readmore .control-box-content .control-the-content {
		width: 100% !important;
	}
	#page-reviews .content-reviews .client-readmore .control-box-content .control-the-content li {
		width: 100% !important;
		margin-top: 30px;
	}
	#page-reviews .content-reviews .client-readmore .control-box-content .control-the-content li:first-child a {
		text-align: center;
	}
	#page-reviews .content-reviews .client-readmore .control-box-content .control-the-content li:nth-child(2),
	#page-reviews .content-reviews .client-readmore .control-box-content .control-the-content li:nth-child(3) {
		border-right: none !important;
		border-left: none !important;
	}
	#page-reviews .content-reviews .client-readmore .control-box-content .control-the-content li:last-child a {
		text-align: center;
		padding-left: 10px !important;
	}
	#page-reviews .content-reviews .client-readmore .box-reviews-star .total-review {
		width: 100% !important;
		float: none !important;
		border: none;
	}
	#page-reviews .content-reviews .client-readmore .box-reviews-star .average-review {
		width: 100% !important;
		float: none !important;
		border: none;
	}
	#page-reviews .content-reviews .client-readmore .box-reviews-star .chart-review {
		width: 100% !important;
		float: none !important;
		border: none;
	}
	#page-reviews .content-reviews .client-readmore .client-comment .box-left-star {
		left: 0%;
		margin-top: 0;
		position: relative;
		width: 100%;
	}
	#page-reviews .content-reviews .client-readmore .client-comment {
		margin-left: 0% !important;
	}
	#page-reviews .content-reviews .client-readmore .client-comment .description a {
		font-size: 7pt !important;
	}
}