@media screen and (min-width: 568px) and (max-width:768px) {
	.homepage .homeTopLeft .box {
		width: 100%;
	}
	.homepage .homeTopLeft .mascot {
		background: transparent;
	}
	.homepage .homeTopLeft .holder {
		display: none !important;
	}

}