@media screen and (min-width: 769px) and (max-width:1023px) {
	.main-menu .menu li {
		min-width: 153.5px; 
	}
	#page-reviews .cover-img {
		width: 100% !important;
		background-repeat: no-repeat;
		height: auto !important;
	}
	#page-reviews .content-reviews .client-readmore .control-box-content .control-the-content {
		width: 100% !important;
	}
}