#page-reviews {
	a, p, span {
		color: #7e7e7e;
		font-family: "Open Sans", sans-serif;
		font-weight: 500;
	}
	.cover-img {
		background-image: url("../image/cover-reviews.jpg");
		background-size: 100% auto;
		height: 450px;
		margin: 0 auto;
		width: 1200px;

		a, p, span {
			color: #fffefe !important;
		}
		h2 {
			font-size: 35pt;
			text-transform: uppercase;
			color: #fff !important; 
		}
		.cover-text {
			margin: 0 auto;
			max-width: 900px;
			padding-top: 7%;
			text-align: center;

			p {
				font-size: 13pt;
				font-weight: 300;
				margin-bottom: 60px;
			}
			a {
				background: rgba(102, 93, 93, 0.63) none repeat scroll 0 0;
				border: 2px solid rgba(96, 92, 92, 0.75);
				border-radius: 3px;
				box-shadow: 0 0 4px rgb(71, 67, 67);
				font-size: 15pt;
				font-weight: 600;
				letter-spacing: -1px;
				padding: 10px;

				&:hover {
					background: rgba(255, 254, 254, 0.63) none repeat scroll 0 0;
					border: 2px solid #ddd;
					box-shadow: 0 0 4px #ddd;
					color: #000;
				}
			}
			.icon-togger {
				background-image: url("../image/page_template/");
				border: 2px solid #fffefe;
				border-radius: 25px;
				color: #fffefe;
				font-size: 20px;
				height: 50px;
				margin: 70px auto 0;
				width: 27px;

				.point {
					background-color: #fff;
					border-radius: 50%;
					height: 5px;
					margin: 8px auto 0;
					width: 5px;
				}
			}
		}
		.landing-page {
			width: auto;
		}
	}
	.content-reviews {
		text-align: center;

		h2 {
			color: #313131;
			font-size: 24pt;
			margin-top: 10px;
		}
		p {
			margin-top: 12px;
			text-align: justify;
		}
		h3 {
			color: #313131;
			font-size: 17pt;
			font-weight: bold;
			margin-bottom: 10px;
		}
		.description {
			a {
				border-bottom: 1px solid #c41230;
				color: #c41230 !important;
				text-transform: uppercase;
			}
		}
		.client-readmore {
			border: 1px solid #ddd;
			border-radius: 0 5px 5px;
			margin-bottom: 50px;
			overflow: hidden;
			padding: 10px;
			text-align: left;

			span {
				font-size: 12px;
			}
			.client {
				margin-top: 30px;
				overflow: hidden;
			}
			.client-face {
				display: none;
				float: left;
				padding-top: 5px;
				width: 9%;
			}
			.control-box-content {
				overflow: auto;
				padding: 20px 0;

				.control-the-star {
					float: left;
					width: 15%;

					.title {
						span {
							background: transparent url("../../image/caret-down.png?1447804127") no-repeat scroll 55px center / 20px auto;
						}
					}
					.title-child {
						color: #504c4c !important;
						display: block;
						font-size: 16px;
						font-weight: bold !important;
						margin-top: -11px;
						padding-left: 35px;

						span {
							border: 1px solid #cd2031;
							cursor: pointer;
							display: block;
							padding: 10px;
							width: 80px;
							padding-left: 0px;
							font-size: 11pt !important;
						}
						ul {
							box-shadow: 3px 3px 7px #ddd;
							display: none;
							margin-left: -15px;
							padding: 20px;
							position: absolute;

							li {
								height: 35px;
							}
							a {
								color: #cd2031 !important;
								font-size: 13px !important;
								font-weight: bold !important;
								padding-left: 0;
							}
						}
					}
					.title-child:hover {
						ul {
							background-color: #fff;
							display: block;
							opacity: 1;
							visibility: visible;
							z-index: 9999;
						}
					}
				}
				.control-the-content {
					float: right;
					width: 85%;

					li {
						border-bottom: 1px solid #498ec7;
						float: left;
						text-align: center;
						width: calc(25% - 3px);

						a {
							display: block;
							font-size: 15px;
							padding: 5px;
						}
						a:hover {
							color: #000 !important;
							font-weight: bold !important;
						}
						.active {
							color: #000 !important;
							font-weight: bold !important;
						}
					}
					li:first-child {
						text-align: right;

						a {
							padding-right: 15px;
						}
					}
					li:last-child {
						text-align: left;

						a {
							padding-left: 15px;
						}
					}
					li:nth-child(2) {
						border-left: 1px solid #498ec7;
						border-right: 1px solid #498ec7;
					}
					li:nth-child(3) {
						border-right: 1px solid #498ec7;
					}
				}
			}
			.box-reviews-star {
				display: block;
				overflow: auto;

				h2 {
					text-align: center;
				}
				h3 {
					color: #7e7e7e;
					font-size: 15px;
					text-align: center;
				}
				.chart-review {
					float: left;
					width: 40%;

					#ratingTable {
						list-style: outside none none;
						margin: 0 auto;
						padding: 0;

						li {
							height: 16px;
							margin: 0 auto 3px;
							max-width: 300px;
							padding: 0;

							ul {
								list-style: outside none none;

								li {
									float: left;
								}
								.starRating {
									background: transparent url("../../image/blue_stars_sprites@2x.png") repeat-x scroll 0 -15px / 16px auto;
									display: block;
									height: 15px;
									width: 80px;

									span {
										background: transparent url("../../image/blue_stars_sprites@2x.png") repeat-x scroll 0 top / 16px auto;
										display: block;
										height: 14px;
									}
								}
								.graph {
									background: #0c4a7e none repeat scroll 0 0;
									border: 0 none;
									border-radius: 8px;
									display: inline-block;
									font-size: 13px;
									height: 8px;
									margin: 5px 10px 2px;
									width: 45%;

									span {
										background: #4b93d1 none repeat scroll 0 0;
										border-radius: 8px;
										display: block;
										height: 100%;
										transition: width 2s ease 0s;
										width: 0;
									}
								}
								.numbers {
									color: #4d7aa1;
									float: left;
									line-height: 1.25em;
									width: 28px;
								}
								.starRating {
									.span-5 {
										width: 100%;
									}
									.span-4 {
										width: 80%;
									}
									.span-3 {
										width: 60%;
									}
									.span-2 {
										width: 40%;
									}
									.span-1 {
										width: 20%;
									}
								}
							}
						}
					}
				}
				.total-review {
					border-right: 1px solid #498ec7;
					float: left;
					width: calc(30% - 5px);
				}
				.average-review {
					border-right: 1px solid #498ec7;
					float: left;
					width: calc(30% - 1px);
				}
			}
			.client-comment {
				float: none;
				margin: 0 auto;
				width: 91%;
				margin-left: 17%;

				h4 {
					color: #333232;
					font-size: 12pt;
					font-weight: bold;
					margin-bottom: 10px;
					text-transform: capitalize;
				}
				.box-left-star {
					left: 5%;
					margin-top: -20px;
					position: absolute;
					width: 10%;

					span[itemprop="datePublished"] {
						display: block;
						width: 100%;
					}
				}
				.previews-calendar {
					margin: -5px 0 5px;
					display: none;
				}
				.description {
					a {
						color: #2f2e2e;
						font-size: 10pt;
						font-weight: bold;
					}
					a:hover {
						color: #ddd;
						text-decoration: underline;
					}
				}
				h2 {
					text-align: center;
				}
				h3 {
					color: #7e7e7e;
					font-size: 15px;
					text-align: center;
				}
				.total-review {
					border-right: 1px solid #498ec7;
					float: left;
					width: calc(30% - 5px);
				}
				.average-review {
					border-right: 1px solid #498ec7;
					float: left;
					width: calc(30% - 1px);
				}
				.mind-10-reviews {
					color: #000 !important;
					font-size: 13px !important;
					margin-left: 10px;

					span {
						color: red !important;
						padding: 8px;
					}
				}
				.star-reviews {
					background: transparent url("../../image/red_stars_sprites@2x.png") repeat-x scroll 0 -15px / 16px auto;
					margin-bottom: 5px;
					width: 80px;

					span {
						background: transparent url("../../image/red_stars_sprites@2x.png") repeat-x scroll 0 top / 16px auto;
						display: block;
						height: 14px;
						overflow: hidden;
						text-indent: -9999px;
					}
					.span-5 {
						width: 80px;
					}
					.span-4 {
						width: 65px;
					}
					.span-3 {
						width: 49px;
					}
					.span-2 {
						width: 32px;
					}
					.span-1 {
						width: 17px;
					}
				}
			}
		}
		.client-tabs {
			margin-bottom: -1.5px;
			margin-top: 50px;

			ul {
				margin-bottom: 0px !important;
				overflow: hidden;
				width: 100%;

				.active {
					-moz-border-bottom-colors: none;
					-moz-border-left-colors: none;
					-moz-border-right-colors: none;
					-moz-border-top-colors: none;
					background-color: rgb(54, 59, 79);
					border-bottom: medium none !important;
					border-image: none;
					border-left: 2px solid #ddd;
					border-right: 2px solid #ddd;
					border-top: 2px solid #ddd;
					color: #fff !important;
					margin-top: -2px;
					padding: 10px 80px 10px 10px;
				}
			}
			li {
				float: left;

				a {
					background-color: rgba(139, 140, 148, 0.54);
					border-bottom: 1px solid #ddd;
					color: #000 !important;
					display: block;
					font-size: 17pt;
					font-weight: bold;
					padding: 10px 80px 10px 10px;
				}
				&:last-child {
					a {
						.active {
							border-left: medium none;
						}
					}
				}
			}
		}
		.client-face {
			img {
				border-radius: 50%;
				height: auto;
				width: 80px;
			}
		}
		.product-web {
			border: 1px solid #ddd;
			border-radius: 0 5px 5px;
			margin-bottom: 50px;
			overflow: hidden;
			padding: 10px;
			text-align: left;
			padding-top: 50px;

			#jssor_1 {
				width: 100% !important;

				div {
					width: 100% !important;
					transform: none !important;

					img {
						height: auto !important;
						margin: 10px 10px 10px 0;
						max-width: 125px !important;
					}
				}
			}
		}
	}
}