/*
Theme Name: NFProject
Theme URI: https://codersvn.com/wordpress/themes/nfproject/
Author: NightFury
Author URI: https://codersvn.com/about
Description: No more description for now
Version: 1.0
Text Domain: NFProject

Use it to make something cool, have fun, and share what you've learned with others.
*/


/*FONTS*/

@font-face {
    font-family: 'ProximaNovaBold';
    src: url('./dist/fonts/opensanssemibold.eot');
    src: url('./dist/fonts/opensanssemibold.eot?#iefix') format('embedded-opentype'), url('./dist/fonts/opensanssemibold.woff') format('woff'), url('./dist/fonts/opensanssemibold.ttf') format('truetype'), url('./dist/fonts/proximanovabold.svg#ProximaNovaBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('./dist/fonts/proximanovaregular.eot');
    src: url('./dist/fonts/proximanovaregular.eot?#iefix') format('embedded-opentype'), url('./dist/fonts/proximanovaregular.woff') format('woff'), url('./dist/fonts/proximanovaregular.ttf') format('truetype'), url('./dist/fonts/proximanovaregular.svg#ProximaNovaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaSemiBold';
    src: url('./dist/fonts/proximanovasemibold.eot');
    src: url('./dist/fonts/proximanovasemibold.eot?#iefix') format('embedded-opentype'), url('./dist/fonts/proximanovasemibold.woff') format('woff'), url('./dist/fonts/proximanovasemibold.ttf') format('truetype'), url('./dist/fonts/proximanovasemibold.svg#ProximaNovaSemiBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('./dist/fonts/opensansregular.eot');
    src: url('./dist/fonts/opensansregular.eot?#iefix') format('embedded-opentype'), url('./dist/fonts/opensansregular.woff') format('woff'), url('./dist/fonts/opensansregular.ttf') format('truetype'), url('./dist/fonts/opensansregular.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansSemiBold';
    src: url('./dist/fonts/opensanssemibold.eot');
    src: url('./dist/fonts/opensanssemibold.eot?#iefix') format('embedded-opentype'), url('./dist/fonts/opensanssemibold.woff') format('woff'), url('./dist/fonts/opensanssemibold.ttf') format('truetype'), url('./dist/fonts/opensanssemibold.svg#OpenSansSemiBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansBold';
    src: url('./dist/fonts/opensansbold.eot');
    src: url('./dist/fonts/opensansbold.eot?#iefix') format('embedded-opentype'), url('./dist/fonts/opensansbold.woff') format('woff'), url('./dist/fonts/opensansbold.ttf') format('truetype'), url('./dist/fonts/opensansbold.svg#opensansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: 12px;
    line-height: 1.4;
    color: #fff;
    background-size: 100% auto;
    background-attachment: fixed;
    height: 100%;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    background-image: url('image/bg-1.jpg');
    font-family: "Helvetica Neue", "Open Sans" ,Helvetica,Arial,sans-serif;
}

header {
    padding-left: ;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

header .container {
    max-width: 100%;
    background: #000;
    width: 100%;
    padding: 0px;
}
header .container .logo {
    padding-top: 15px;
}
header .container .logo .widget {
    position: absolute;
    right: 80px;
    top: 0px;
}

header .container .logo .widget .custom {
    padding: 15px 0px !important;
}

header .container .logo .widget .custom p span strong {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #D8BFD5, 0 0 70px #DCC9DA, 0 0 80px #C5C4C5, 0 0 100px #F5E1F2, 0 0 150px #ff00de;
    font-size: 17px;
    font-weight: normal;
    /* font-family: monospace; */
    font-family: Tahoma, Geneva, sans-serif;
}

header .container .logo .widget .custom h2 {
    margin-top: 0px;
}

header .container .logo .widget .custom h2 span a {
    /* border-bottom: 1px solid; */
    font-weight: normal;
    /* font-family: georgia; */
    font-family: Tahoma, Geneva, sans-serif;
    /* background-color: black !important; */
    /* display: block; */
    width: 150px;
    padding: 10px 14px 10px 12px;
    border-radius: 5px !important;
    /* margin-left: 38px; */
    background-color: #c41230 !important;
    font-size: 18px;
    color: #fff;
}

header .container .logo img {
    width: 339px;
    height: auto;
}

header .container .main-menu {
    padding-left: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
}

.menu {
    overflow: auto;
    padding-left: 0px;
    margin-bottom: 0px;
}

.menu li {
    background-color: #c41230;
    min-width: 134.5px;
    height: auto;
    text-transform: uppercase;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    float: left;
    text-align: center;
    position: relative;
    border-left: 2px solid #000;
    cursor: pointer;
    font-family: Tahoma, Geneva, sans-serif;
}

.menu li.current-menu-item {
    background-color: #fff;
}

.menu li a {
    color: #fff;
    display: block;
    padding-bottom: 20px;
    padding-top: 20px;
}

.menu li.current-menu-item a {
    color: #c41230;
}

.dashicons-admin-home:before {
    content: '';
}

.dashicons-admin-home {
    background-image: url('image/icon-home-1.png');
}

.menu-item i._mi:before {
    content: '';
}

.dashicons-book {
    background-image: url('image/icon-about-1.png');
}

.dashicons-admin-comments {
    background-image: url('image/icon-blog-1.png');
}

.dashicons-email-alt {
    background-image: url('image/icon-contact-1.png');
}

.dashicons-lock {
    background-image: url('image/icon-news-1.png');
}

.menu-item i._mi {
    content: '';
    width: 33px;
    height: 33px;
    background-repeat: no-repeat;
    background-position: top center;
    display: block;
    margin: 0 auto 5px;
}

.menu li.current-menu-item a i._mi {
    background-position: bottom center;
}

.site-footer {
    max-width: 100%;
    margin: 0px 15px;
}

.site-footer .footercontainer {
    background: #363538;
    margin: 0 0.5%;
}

.footerTop {
    background: url(image/border-bg.jpg);
    background-repeat: repeat-x;
    background-position: top left;
    padding: 55px 15px 15px 50px;
    text-align: justify;
    display: table;
}

.footerTop h2 {
    margin-top: 0px;
    font-size: 1.5em;
}

.footerTop .col-md-3 {
    text-align: left;
    margin: 0 15px;
    display: inline-block;
    vertical-align: top;
    width: 21%;
}

.footerAbout p,
.footerResources p,
.footerResources p a {
    font-size: 14px;
    font-family: 'OpenSansRegular';
    color: #d3d3d3;
}

.footerAbout p,
.footerResources p,
.footerNewsFeed p {
    margin-bottom: 15px;
}

.socialLinks {
    padding-left: 0px;
    margin-bottom: 5px;
    display: table;
}

.socialLinks li {
    display: inline-block;
    vertical-align: middle;
    float: left;
    list-style: none;
    list-style-image: none;
}

ul {
    padding-left: 0px;
}

li {
    list-style: none;
    list-style-image: none;
}

.footerInfo p a,
.footerInfo p span {
    display: inline-block;
}

.footerInfo p span {
    font-size: 12px;
    line-height: 15px;
    font-family: 'OpenSansRegular';
    color: #00aeef;
    padding-right: 5px;
}

.footerInfo p,
.footerInfo p a {
    font-size: 13px;
    font-family: 'ProximaNovaRegular';
    color: #fff;
}

div.srfrContainer ul.srfrList li {
    clear: both;
    padding: 8px;
    margin: 2px 0;
    border-bottom: 1px dotted #ccc;
}

div.srfrContainer ul.srfrList li h3 {
    font-size: 13px;
    margin: 0px;
    padding: 0px;
    line-height: 15px;
}

a:link {
    color: #ffff66;
}

.footerResources li:before,
.footerNewsFeed li:before {
    content: '';
    background: url(image/icon-footer-list.jpg) no-repeat center center;
    width: 3px;
    height: 6px;
    display: block;
    position: absolute;
    top: 6px;
    left: 0;
}

.footerResources li,
.footerNewsFeed li {
    padding-left: 15px;
    position: relative;
}

.footerBot {
    background-color: #000;
    padding: 16px 70px;
}

.footerBot p {
    font-size: 15px;
    font-family: helvetica;
    line-height: 1.4;
    text-align: left;
    font-weight: normal;
}

.footerBot .custom {
    margin-bottom: 10px;
}

.menu li:hover {
    background-color: #950111;
}

.menu li.current-menu-item {
    background: #fff;
}

.menu li:before {
    content: '';
    background: url(image/border-lock.png) no-repeat center center;
    width: 20px;
    height: 32px;
    position: absolute;
    top: 33px;
    left: -11px;
}

.menu li.current-menu-item:before {
    /*background: none;*/
}

.even {
    padding: 2px;
    border-bottom: 1px dotted #ccc;
}

.odd {
    padding: 2px;
    border-bottom: 1px dotted #ccc;
}

div.k2FeedIcon a,
div.k2FeedIcon a:hover {
    display: block;
    float: right;
    margin: 0;
    padding: 0;
    width: 16px;
    height: 16px;
    background: url(image/feed.png) no-repeat 50% 50%;
}

.homeTopRight.fl span.h4,
.homeTopRight.fl span.h2 {
    font-weight: normal !important;
    font-family: arial;
    font-size: 26px !important;
}

.homeTopRight.fl span.h4 {
    padding: 0px;
}

.site-content .container {
    width: 100%;
}

.homeTopRight.fl {
    padding-top: 20px;
    padding-bottom: 15px;
    text-align: justify;
    max-width: 700px;
}

.fl {
    float: left;
}

.homeTopRight h4,
.homeTopRight .h4 {
    font-size: 30px;
    line-height: 30px;
    font-family: 'ProximaNovaBold';
    color: #6e6e6e;
    padding-left: 4px;
}

.homeTopRight .red {
    color: #c41230;
}

.homeTopRight h2,
.homeTopRight .h2 {
    font-size: 65px;
    line-height: 55px;
    font-family: 'ProximaNovaBold';
    text-transform: uppercase;
    margin-bottom: 5px;
    text-align: left;
}

.homeTopRight .black {
    color: #000;
}

.homeTopRight.fl p {
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    font-size: 16px !important;
    margin-bottom: 0px;
}

.homeTopRight p {
    font-size: 14px;
    line-height: 20px;
    color: #232323;
    margin-bottom: 15px;
    font-weight: bold;
}

.homeTopRight.fl span.h4,
.homeTopRight.fl span.h2 {
    font-weight: normal !important;
    font-family: arial;
    font-size: 26px !important;
}

.homeTopRight.fl span.h4 {
    padding: 0px;
}

.homeTopRight.fl h3 {
    font-weight: normal;
}

.accordion p {
    display: inline;
}

.accordion-section {
    padding: 15px 0px;
}

.accordion .accordion-section h3 {
    color: #c41230;
    font-size: 16px;
    font-weight: normal;
    display: inline;
    margin-right: 5px;
    margin-bottom: 0px;
    font-family: 'OpenSansRegular';
}

.homeTopLeft.fr.re_fl {
    box-shadow: -58px 19px 96px -64px rgba(0, 0, 0, 0.30);
}

.homeTop .homeTopLeft.fr {
    display: inline;
    width: 36%;
    float: right;
}

.homeTopLeft.fr.re_fl > .custom {
    padding-left: 30px;
}

.homeTopLeft .mascot {
    background: url('image/n-layer1-1.png') no-repeat top left;
}

.homeTopLeft .mascot {
    background-position: 0 42%;
}

.mascot {
    padding: 100px 0 0 211px !important;
}

.box {
    width: auto;
    height: 200px;
    background: #FFF;
}

.homeTopLeft .box {
    /* width: 383px; */
    height: 315px;
    padding: 0px 20px 10px;
    padding-right: 0;
    position: relative;
    background: transparent;
}

.homeTopLeft.fr.re_fl > .custom .box.autoWidth {
    margin-left: -160px;
}

.homeTopLeft .shield {
    max-width: 359px;
    min-height: 320px;
    background: url(image/n-layer1-3.png) no-repeat top center;
    margin-left: 2px;
    padding: 41px 80px 101px;
}

.home .homeTopLeft .shield {
    max-width: 359px;
    min-height: 320px;
    background: url(image/n-layer1-3.png) no-repeat top center;
    margin-left: 2px;
    padding: 41px 80px 80px;
}

.homeTopLeft .shield h3 {
    margin-top: 0px;
    margin-bottom: 15px;
}

.homeTopLeft .shield p {
    margin-bottom: 0px;
}

.homeTopLeft .shield p span {
    font-size: 25px !important;
    -webkit-text-stroke: 1px #444;
}

.homeTopLeft .holder {
    left: 105px;
    position: absolute;
    top: -15px;
    right: 130px;
}

.cl-effect-5 a span {
    position: relative;
    display: inline-block;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
    background: #440600;
    font-size: 27pt;
    /* color: #fff!important; */
    padding: 6px 2px;
    opacity: 0.7;
}

.cl-effect-5 a:hover span,
.cl-effect-5 a:focus span {
    background: #e35041;
    opacity: 1;
    color: #ffff66;
}

.fr {
    float: right;
}

.homeTopRight .red {
    color: #c41230;
}

.homeTopRight h2,
.homeTopRight .h2 {
    font-size: 65px;
    line-height: 55px;
    font-family: 'ProximaNovaBold';
    text-transform: uppercase;
    margin-bottom: 5px;
    text-align: left;
}

.homeTopRight a.button {
    background: #282828 url(image/layer1-arrow.png) no-repeat 95% 50%;
    font-size: 20px;
    font-family: 'ProximaNovaRegular';
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;
    padding: 16px 90px;
    margin-top: 20px;
    display: block;
    padding-left: 50px;
    padding-right: 0px;
}

.homeTopRight a.button:hover {
    background-color: #fff;
    color: #000;
}

.section2 {
    clear: both;
}

.section2 .container {
    max-width: 1170px;
}

.sdone {
    background-image: url('image/n-layer1-32.png');
}

.sdtwo {
    background-image: url('image/layer2-1.png');
}

.sdthree {
    background-image: url('image/layer2-2.png');
}

.sdfour {
    background-image: url('image/layer2-3.png');
}

.sdfive {
    background-image: url('image/layer2-4.png');
}

.section2 .sheld {
    width: 20%;
    float: left;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    min-height: 250px;
}

.section2 .sheld .content-shel {
    text-align: center;
    vertical-align: middle;
    padding: 38px;
}

.section2 .sheld p {
    font-size: 18px;
}

.section2 .sheld a {
    color: #ffff66;
    font-family: arial, sans-serif;
    line-height: normal;
    font-size: 27px;
    font-weight: 600;
    display: block;
}

.homeTopLeft h2 {
    font-size: 24px;
    line-height: 33px;
    font-family: 'OpenSansSemiBold';
    color: #fff;
    text-align: left;
    text-transform: uppercase;
}

.section1 .homeTopLeft .mascot h2 {
    font-size: 24px;
    line-height: 33px;
    font-family: 'OpenSansSemiBold';
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.homeTopRight h2.red.content-link-newpage {
    width: auto;
    float: none;
    margin: 0 auto;
    display: table;
    background: transparent;
}

h2.red.content-link-newpage > .button {
    font-size: 20px;
    font-family: 'ProximaNovaRegular';
    line-height: 20px;
    text-transform: uppercase;
    color: #c41230;
    padding: 0px;
    border-bottom: 1px solid #c41230;
    background: transparent;
    margin: 20px 0;
}

a:focus,
a:hover {
    text-decoration: none;
}

.sheld:before {
    content: '';
    background: url(image/layer2-shadow.png) no-repeat top center;
    width: 100%;
    height: 49px;
    display: block;
    position: absolute;
    bottom: -10px;
    left: 0;
}

.section3 .col-md-4 {
    width: 32.5%;
    /* height: 325px; */
    margin: 15px .3%;
    display: inline-block;
    vertical-align: top;
}

.section3 .section3-1 {
    background-color: #c41230;
    background-image: url('image/layer3-red.png');
    background-position: top right;
    background-repeat: no-repeat;
}

.section3 .section3-2 {
    background-color: #e9840e;
    background-image: url('image/layer3-orange.png');
    background-position: top right;
    background-repeat: no-repeat;
}

.section3 .section3-3 {
    background-color: #d9b31b;
    background-image: url('image/layer3-yellow.png');
    background-position: top right;
    background-repeat: no-repeat;
}

.section3 a {
    background: url(image/layer3-learnMore.png) no-repeat 95% 92%;
    width: 150px;
    font-size: 11px;
    font-family: 'OpenSansSemiBold';
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    display: block;
    padding: 6px 15px;
    margin: 0 auto 10px;
    border: 3px solid #fff;
}

.section3 .a_link {
    background: none;
    width: 370px;
    text-align: center;
    border: none;
    text-transform: none;
}

.section3 h2 {
    font-size: 25px;
    font-family: 'ProximaNovaSemiBold';
    color: #fff;
}

.section3 p {
    font-size: 15px;
    line-height: 24px;
    font-family: 'ProximaNovaRegular';
    color: #fff;
    font-weight: 300;
    letter-spacing: 0.5px;
}

.section3 .content {
    min-height: 125px;
}

.section3 .a_link:hover {
    background: none;
}

.section3 a:hover {
    background-color: #fff;
    background-position: 95% 7%;
    color: #000;
}

.section4 .container {
    padding: 0 0.5% 12px;
}

.homeBot {
    background: #fff;
}

.section4 .w1440 {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}

.homeBotLeft {
    width: 330px;
    text-align: right;
    margin: 0 30px;
}

.homeBotLeft img {
    position: relative;
    top: 10px;
}

.homeBotLeft + div {
    padding-top: 50px;
}

.homeBot h2 {
    font-size: 40px;
    font-family: 'ProximaNovaRegular';
    color: #232323;
}

.homeBotRight > ul {
    padding-top: 30px;
}

.homeBotRight li {
    max-width: 430px;
    width: 32%;
    margin: 0 1% 50px 0px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.section4 .homebotlistCont p {
    font-size: 16px;
    font-family: 'ProximaNovaRegular';
    color: #6e6e6e;
    font-weight: 500;
}

.homeBotRight li > img {
    margin-right: 10px;
}

.homebotlistCont {
    width: auto;
    padding-top: 12px;
    overflow: hidden;
}

.homebotlistCont.red h3 {
    color: #950111;
}

.homeBotRight h3 {
    font-size: 25px;
    font-family: 'ProximaNovaSemiBold';
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
}

.homebotlistCont p {
    font-size: 14px;
    font-family: 'ProximaNovaRegular';
    color: #6e6e6e;
}

.homebotlistCont.darkOrange h3 {
    color: #b34c1f;
}

.homebotlistCont.orange h3 {
    color: #eb9127;
}

.homebotlistCont.yellow h3 {
    color: #d9b31b;
}

.innerCont {
    margin: 0 auto;
    padding: 150px 0;
    position: relative;
}

.largeTitle {
    position: absolute;
    top: -30px;
    z-index: -1;
}

.largeTitle h1 {
    font-size: 18em;
    font-family: 'OpenSansSemiBold';
    color: #ddd;
}

.box-shadow {
    height: auto;
    width: 100%;
    position: relative;
    background-color: #FFFFFF;
    border-width: 1px;
    border-style: solid;
    border-color: #DDDDDD;
    border-radius: 5px;
    box-shadow: 0px 10px 6px -6px #777777;
    padding: 15px;
    padding-bottom: 50px;
}

.box-shadow .col-md-8 iframe {
    width: 100%;
}

.box-shadow h2 {
    color: black;
    font-size: 25px;
    font-family: 'OpenSansSemiBold';
    margin-bottom: 20px;
}

.box-shadow p {
    font-size: 11pt;
    color: #21262B;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.box-shadow td {
    padding: 25px;
}

.innerCont h3,
.innerRight h3 a {
    font-size: 23px;
    font-family: 'OpenSansSemiBold';
    color: #333;
}

.box-shadow a:link {
    color: #000000;
}

.box-shadow p {
    font-size: 11pt;
}

.blog h1.page-title {
    display: none;
}

.content-area {
    width: calc(100% - 2px);
    padding-left: 1%;
    padding-right: 1%;
    background-color: #ffffff;
    border-color: #dddddd;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 10px 6px -6px #777777;
    padding: 15px 15px 50px;
    position: relative;
    color: #8d949a;
    margin-bottom: 120px;
    margin-top: 120px;
}

.warning {
    background-color: #ffffff;
    border-color: #dddddd;
    border-bottom: 1px solid;
    padding: 15px 15px 50px;
    position: relative;
    color: #8d949a;
}

.blog .post .entry-header h2 a {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 24px;
    font-weight: normal;
    line-height: 110%;
    padding: 10px 0 4px 0;
    margin: 0;
    color: #000000;
}

.blog .post .post-thumnai {
    width: 25%;
    float: left;
}

.blog .post .entry-content a {
    color: #337ab7;
    display: block;
}

.blog .post .entry-content p {
    font-size: 17.3333px;
    font-family: Verdana;
    background-color: transparent;
    vertical-align: baseline;
    white-space: pre-wrap;
}

.blog .post a {
    color: #337ab7;
}

div.catItemCategory {
    padding: 4px;
    border-bottom: 1px dotted #ccc;
}

div.catItemTagsBlock {
    padding: 4px;
    border-bottom: 1px dotted #ccc;
}

div.catItemTagsBlock p {
    display: inline-block;
    float: left;
}

div.catItemTagsBlock li {
    display: inline-block;
    margin: 0 5px;
}

.single .post .entry-header h2 a {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 24px;
    font-weight: normal;
    line-height: 110%;
    padding: 10px 0 4px 0;
    margin: 0;
    color: #000000;
}

.single .post .post-thumnai {
    width: 25%;
    float: left;
}

.single .post .entry-content a {
    color: #337ab7;
    display: block;
}

.single .post .entry-content p {
    font-size: 17.3333px;
    font-family: Verdana;
    background-color: transparent;
    vertical-align: baseline;
    white-space: pre-wrap;
}

.single .post a {
    color: #337ab7;
}

.section3 .container {
    padding-right: 0px;
    padding-left: 0px;
}

.navbar-fixed-bottom,
.navbar-fixed-top {
    position: relative;
    right: 0;
    left: 0;
    z-index: 1;
    margin-bottom: 0px;
    border-bottom: none;
}

.navbar-default {
    background-color: rgba(0, 0, 0, 0.8);
    border-color: #FFF;
}

.navbar-default .navbar-brand {
    color: #FFF;
}

.navbar-default .navbar-brand:hover {
    color: #FFB800;
}

.navbar-default .navbar-nav > .active > a {
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar-default .navbar-nav > li > a {
    color: #999;
}

.dropdown-menu > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #FFF;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}

.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.8);
}

.dropdown-menu > li > a:hover {
    color: #555!important;
}
.kenproducts {
    padding: 150px 0 25px 0 ;
}
.kenproducts p {
    color: #6c6060!important;
    font-family: Arial, Helvetica, sans-serif!important;
    font-size: 9pt!important;
    margin-bottom: 0px;
}

.pri-title a {
    color: red !important;
}

.kenproducts .box-shadow {
    height: 1620px;
}

.logo-lifelock-text {
    width: 170px;
    margin: 0 auto;
    overflow: hidden;
    border: none !important;
}

.logo-lifelock-text .logo {
    width: 40px;
    float: left;
    border: none !important;
    padding: 0px !important;
}

.logo-lifelock-text .logo img {
    margin-top: 2px;
}

.logo-lifelock-text .text {
    margin-top: 5px;
}

.logo-lifelock-text .text {
    width: 130px;
    float: left;
    text-align: left;
    line-height: 1;
}

.logo-lifelock-text p:first-child {
    font-size: 27px !important;
    font-weight: 700;
    color: #333 !important;
    font-family: 'Open Sans', sans-serif !important;
    margin-bottom: 0px;
}

.logo-lifelock-text p:first-child span {
    font-size: 27px !important;
    font-weight: 100 !important;
}

.logo-lifelock-text p:last-child {
    text-transform: uppercase;
    font-size: 10px !important;
    font-weight: 800;
    color: #545454!important;
    margin-left: 2px;
    font-family: 'Open Sans', sans-serif !important;
}

.btn {
    background: #CC092F;
    background-image: -webkit-linear-gradient(top, #CC092F, #CC092F);
    background-image: -moz-linear-gradient(top, #CC092F, #CC092F);
    background-image: -ms-linear-gradient(top, #CC092F, #CC092F);
    background-image: -o-linear-gradient(top, #CC092F, #CC092F);
    background-image: linear-gradient(to bottom, #CC092F, #CC092F);
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #f5133f;
    background-image: -webkit-linear-gradient(top, #f5133f, #f5133f);
    background-image: -moz-linear-gradient(top, #f5133f, #f5133f);
    background-image: -ms-linear-gradient(top, #f5133f, #f5133f);
    background-image: -o-linear-gradient(top, #f5133f, #f5133f);
    background-image: linear-gradient(to bottom, #f5133f, #f5133f);
    text-decoration: none;
}

#feature li {
    height: 35px !important;
    padding: 5px !important;
    position: relative;
}

.site-product-box-tick .detail-tick li span {
    list-style-type: none;
    font-size: 1em;
    position: absolute;
    left: 50%;
}

.site-product-box-tick .detail-tick li span:before {
    content: '\2713';
    display: inline-block;
    color: red;
    font-size: 17px;
}

.pricing-select {
    text-align: left;
    margin-bottom: 30px;
}

.pricing-select > h5 {
    vertical-align: top;
}

.pricing-select > h5 {
    font-size: 20px;
    color: black;
    display: inline-block;
}

.dropp {
    box-shadow: 0 4px 3px #0a0a0a;
}

.dropp {
    border-top-left-radius: 5px;
}

.dropp {
    display: inline-block;
    min-width: 365px !important;
    margin-bottom: 30px;
    max-width: 25em;
}

.dropp-header {
    background: black;
    color: #fff;
    border-bottom: 2px solid #dd4040;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    box-align: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    -ms-align-items: stretch;
    -o-align-items: stretch;
    align-items: stretch;
    -ms-flex-align: stretch;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: start;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.dropp-header__title {
    display: block;
    padding: 0.8em 0.5em;
    -webkit-box-flex: 8;
    -moz-box-flex: 8;
    box-flex: 8;
    -webkit-flex: 8;
    -moz-flex: 8;
    -ms-flex: 8;
    flex: 8;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.dropp-header__title.js-value,
.dropp-body.js-open label {
    font-size: 13px;
}

.dropp-header__btn .icon {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.dropp-header__btn .icon:before,
.dropp-header__btn .icon:after {
    top: 30%;
    left: 22%;
    width: 50%;
    height: 15%;
    background: #dd4040;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.icon:before,
.icon:after {
    content: "";
    position: absolute;
}

.dropp-header__btn .icon:after {
    top: 55%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.icon {
    display: block;
    position: relative;
    width: 1.5em;
    height: 1.5em;
    margin: 0 auto;
}

.dropp-body {
    overflow: hidden;
    width: 100%;
    max-height: 0;
    background: #292929;
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.LifeLock-Pricing .col-sm-4 > div:first-child {
    border-radius: 5px 5px 0px 0px;
    border: 1px solid black;
    padding: 10px;
}

.dropdown .show {
    position: relative;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.ricing-header img {
    padding-bottom: 5px;
}

.LifeLock-Pricing .col-sm-4 > div:last-child {
    border: 1px solid black;
    min-height: 850px;
    padding: 15px;
}

.ricing-content {
    padding-left: 30px !important;
    text-align: left;
}

.ricing-content > p:before {
    font-family: 'FontAwesome';
    content: "\f013";
    margin-right: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
    min-width: 275px;
}

.pagecompare {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 10.8pt;
    color: #4A4A4A;
}

.pagecompare .title-main,
.pagecompare .description-main {
    /* font-size: 24pt; */
    text-align: center;
    margin: 0 auto;
}

.pagecompare .description-main {
    margin-bottom: 40px;
}

.pagecompare .title-main,
.pagecompare .description-main {
    /* font-size: 24pt; */
    text-align: center;
    margin: 0 auto;
}

.box-shadow.pagecompare #table-compare-page .custom .shield {
    width: 175px;
    height: 195px;
    background: url(image/n-layer1-3.png) no-repeat top center;
    margin-left: 2px;
    padding: 41px 70px 101px;
}

#table-compare-page tr {
    width: 20%;
    height: auto;
}

.box-shadow.pagecompare #table-compare-page .custom {
    position: absolute;
    top: 33px;
    left: 0px;
    line-height: 1.4;
}

.box-shadow.pagecompare #table-compare-page td {
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    border-left: 1px solid #f6f6f6;
    border-right: 1px solid #f6f6f6;
    padding-top: 10px;
}

#kenproducts .box-shadow td {
    padding: 12.5px;
}

.pagecompare .col-md-3 {
    background-image: url(image/n-layer1-3.png);
    background-repeat: no-repeat;
    background-position: center top;
    min-height: 320px;
}

.pagecompare .shield {
    padding: 45px;
}

.box-shadow.pagecompare .shield h3 {
    text-align: center;
    font-size: 13px;
    font-family: 'OpenSansRegular';
    color: #fff;
    margin-bottom: 15px;
}

.row.box {}

.row.box .col-sm-4 {
    margin-left: 0px;
    margin-right: 0px;
}

.row.box .col-sm-4 h3 {
    color: #fff;
}

.ricing-header {
    border-radius: 0px !important;
}

.box-shadow.pagecompare .shield h3 span {
    font-size: 18px !important;
}

.box-shadow.pagecompare .shield p {
    text-align: center;
    font-size: 13px;
    line-height: 26px;
    font-family: 'Arial';
    color: #fff;
    /* padding-top: 20px; */
    -webkit-text-stroke: 1px #444;
    text-align: center;
    margin-top: 12px;
}

.box-shadow.pagecompare table {
    width: 100%;
}

.box-shadow.pagecompare td {
    padding: 10px;
    width: 30%;
    border: 1px solid #f6f6f6;
    text-align: center;
}

.box-shadow.pagecompare p {
    text-align: left;
    margin-bottom: 0px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: #4a4a4a;
    line-height: 20px;
}

.box-shadow.pagecompare .tr2 td {
    border: none;
    background-color: #dd2225;
    color: white;
    font-size: 16px;
    text-align: center;
}

.box-shadow.pagecompare .tr2 td p {
    border: none;
    background-color: #dd2225;
    font-weight: bold;
    color: white;
    font-size: 16px;
    text-align: center;
}

.box-shadow.pagecompare .td1 {
    height: 18.0pt;
    background-color: #4f4d4c;
    text-align: center;
    color: #ddd222;
}

.box-shadow.pagecompare .td1 p {
    color: white;
    text-align: center;
    font-size: 15px;
}

.box-shadow.pagecompare .table-2 td {
    padding: 10px;
    width: 25%;
    border: 1px solid #f6f6f6;
    color: #4a4a4a;
    text-align: left;
}

.tick-check td span.tick-true:before {
    content: '\2713';
    display: inline-block;
    color: #3AB12D;
    /* padding: 0 6px 0 0; */
    font-size: 17px;
    font-weight: bold;
}

.tick-check td span.tick-close:before {
    content: '\2716';
    display: inline-block;
    color: #C12B2B;
    padding: 0 6px 0 0;
    font-size: 17px;
}

.pagecompare .note-table {
    padding-bottom: 20px !important;
    padding-top: 20px !important;
    display: table;
    margin: 0 auto;
}

.pagecompare .content-bottom {
    font-size: 10pt;
    font-weight: 500;
    color: #565555;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 20px !important;
}

.link-mail a {
    color: red !important;
}

.check-center {
    text-align: center !important;
}

.section3 .col-md-4 .xxx {
    background: none;
    width: 100%;
    text-align: center;
    border: none;
    text-transform: none;
    font-size: 11px;
    font-family: 'OpenSansSemiBold';
    color: #fff;
    display: block;
    padding: 6px 15px;
    margin: 0 auto 10px;
}

.page-id-15 .box-shadow {
    height: auto;
    width: 100%;
    position: relative;
    background-color: #FFFFFF;
    border-width: 1px;
    border-style: solid;
    border-color: #DDDDDD;
    border-radius: 5px;
    box-shadow: 0px 10px 6px -6px #777777;
    padding: 15px;
    overflow: auto;
    padding-bottom: 50px;
}

.promo-sec1 {
    max-width: 1260px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.promo-sec1 .box {
    background: url(image/black.png) no-repeat top left;
    width: 600px;
    background-position: center left;
    background-size: 55% 100%;
}

.promo-sec1 .box .boxCont h2 {
    font-size: 17px;
    padding-top: 25px;
    text-align: left;
}

.promo-sec1 .col-md-4 p {
    font-size: 14px;
    line-height: 23px;
    color: #232323;
    margin-bottom: 15px;
    font-weight: normal;
    font-family: 'Arial', 'Calibri';
    letter-spacing: 1px;
}

.promo-sec1 .col-md-4 {
    max-width: 341px;
    padding-top: 30px;
    overflow: hidden;
    padding-right: 46px;
}

.promo-sec1 .promo-learn-more {
    font-size: 13px !important;
    background: none !important;
    font-family: 'ProximaNovaRegular' !important;
    line-height: 20px !important;
    text-transform: uppercase !important;
    color: #c41230 !important;
    border-bottom: 1px solid #c41230 !important;
    display: inline !important;
    padding: 0px !important;
    padding-left: 5px !important;
}

.promo-sec1 h2.red a {
    background: #000000 url(image/layer1-arrow.png) no-repeat 95% 50%;
    font-size: 20px;
    font-family: 'ProximaNovaRegular';
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;
    padding: 16px 15px;
    margin-top: 20px;
    display: block;
}

.promo-sec1 .boxCont ul li {
    background: url(image/layer-icon-list.png) no-repeat 5px 0;
    padding-left: 25px;
    margin-bottom: 8px;
}

.promo-sec1 .holder {
    position: absolute;
    top: -20px;
    left: 70px;
}

.landing-content-page .lan-thumnai img {
    width: 100%;
    height: auto;
}

.landing-content-page .sidebar-landingpage {
    float: none;
    box-shadow: none !important;
}

.landing-content-page .holder {
    position: absolute;
    top: -15px;
    right: 15px;
}

.landing-content-page .homeTopLeft .box {
    width: 90px;
    height: 315px;
    padding: 0px 20px 10px;
    padding-right: 0;
    position: relative;
    background: transparent;
}

.landing-content-page .homeTopLeft .shield {
    max-width: 366px;
    min-height: 320px;
    background: url(image/n-layer1-3.png) no-repeat top center;
    margin-left: 2px;
    background-size: contain;
    padding: 30px 29px 55px;
}

.landing-content-page .landing-content .col-md-7 h1 {
    text-align: center;
    color: #000;
    font-size: 45px;
    padding-top: 20px;
}

.landing-content-page .landing-content .col-md-7 p {
    margin: 0px 0px 15px;
    padding-left: 10px !important;
    padding-right: 10px !important;
    outline: none;
    font-family: roboto;
    font-size: 17px;
    line-height: 20px;
    color: #232323;
    text-align: justify;
}

.promo .promo-top .box.autoWidth {
    background: url('image/layer1-2.png') no-repeat top left;
    width: 580px;
    background-position: 0% 100%;
    background-size: 58% 100%;
    margin-left: 0px;
}

.promo .promo-top .homeTopRight {
    max-width: 300px;
    padding-top: 30px;
    overflow: hidden;
}

.promo .promo-top .homeTopRight p {
    font-weight: normal;
}

a.promo-learn-more {
    font-size: 13px !important;
    background: none !important;
    font-family: 'ProximaNovaRegular' !important;
    line-height: 20px !important;
    text-transform: uppercase !important;
    color: #c41230 !important;
    border-bottom: 1px solid #c41230 !important;
    display: inline !important;
    padding: 0px !important;
    padding-left: 5px !important;
}

.promo .promo-top .mascot h2 {
    font-size: 17px;
    /*padding-top: 30px;*/
    text-align: left;
}

.promo .promo-top .homeTopRight .red a {
    background: #000000 url(image/layer1-arrow.png) no-repeat 95% 50%;
    font-size: 20px;
    font-family: 'ProximaNovaRegular';
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;
    padding: 16px 15px;
    margin-top: 20px;
    display: block;
}

.promo .promo-top ul li {
    background: url(image/layer-icon-list.png) no-repeat 5px 0;
    padding-left: 25px;
    margin-bottom: 8px;
}

.promo .promo-top .shield {
    max-width: 300px;
}

.promo .promo-top {
    margin: 0 auto;
    overflow: auto;
    margin-bottom: 50px;
}

.ricing-header {
    min-height: 100% !important;
}

@media (max-width:768px) {
    .navbar-default .navbar-nav .open .dropdown-menu> li > a:hover,
    .dropdown-menu > li > a:hover {
        color: #FFF!important;
    }
}

@media only screen and (min-width: 979px) and (max-width: 1199px) {}

@media only screen and (min-width: 800px) and (max-width: 1100px) {}

@media only screen and (min-width: 768px) and (max-width: 979px) {
    .logo {
        text-align: center;
    }
    header .container .logo img {
        width: auto !important;
        height: auto;
    }
    header .container .logo img {
        width: auto !important;
        height: auto;
    }
    header .container .logo .widget {
        position: relative;
        right: 0px;
        top: 0px;
        text-align: center;
    }
    .menu li {
        min-width: 150px;
        width: auto;
        max-width: 100%;
        height: auto;
        text-transform: uppercase;
        padding: 20px 20px 10px;
        display: inline-block;
        vertical-align: middle;
        float: left;
        text-align: center;
        position: relative;
        border-left: 1px solid #000;
        cursor: pointer;
        font-family: Tahoma, Geneva, sans-serif;
    }
    .menu li:before {
        content: '';
        background: none;
        width: 20px;
        height: 32px;
        position: absolute;
        top: 33px;
        left: -11px;
    }
    .navbar-fixed-bottom .navbar-collapse,
    .navbar-fixed-top .navbar-collapse {
        max-height: 100%;
        height: auto;
        overflow: inherit;
    }
    body.custom-background {
        background-image: url(image/bg-1.jpg);
        background-repeat: repeat!important;
        background-position: top center;
        background-attachment: fixed;
    }
    .section1,
    .section2,
    .section3,
    .section4 {
        width: 100%;
        height: auto;
        max-width: 100%;
    }
    .homeTopRight.fl span.h4,
    .homeTopRight.fl span.h2 {
        font-weight: normal !important;
        font-family: arial;
        font-size: 19px !important;
        line-height: 1 !important;
    }
    .section2 .sheld {
        width: 50%;
        float: left;
        background-position: top center;
        background-repeat: no-repeat;
        position: relative;
        min-height: 250px;
    }
    .section2 .sheld .content-shel {
        text-align: center;
        vertical-align: middle;
        padding: 40px 95px;
    }
    .section4 .sheld .content-shel {
        float: left;
        width: 30%;
    }
    .homeBotLeft {
        width: auto;
        text-align: right;
        margin: 0 30px;
    }
    .homeBotRight {
        clear: none;
        width: 60%;
        float: right;
    }
    .homeBot h2 {
        font-size: 30px;
        font-family: ProximaNovaRegular;
        color: rgb(35, 35, 35);
        text-align: center;
    }
    .homeBotRight li {
        max-width: 100%;
        width: 100%;
        margin: 0px;
        display: inline-block;
        vertical-align: middle;
    }
    .section3 .a_link {
        background: none;
        width: auto;
        text-align: center;
        border: none;
        text-transform: none;
    }
    .section3 .col-md-4 {
        width: 100%;
        height: auto;
        margin: 0px;
        display: inline-block;
        vertical-align: top;
    }
    .footerTop .col-md-3 {
        text-align: left;
        margin: 0px;
        display: inline-block;
        vertical-align: top;
        width: 100%;
    }
    .footerTop {
        background: url(image/border-bg.jpg);
        background-repeat: repeat-x;
        background-position: top left;
        padding: 15px;
        text-align: justify;
        display: table;
    }
    .section1 .col-md-5 {
        display: ;
        clear: both;
        padding-left: 0px;
        padding-right: 0px;
    }
    .mascot {
        padding: 0px !important;
    }
    .homeTopLeft.fr.re_fl > .custom {
        padding-left: 0px;
    }
    .homeTopLeft .mascot h2 {
        font-size: 24px;
        line-height: 33px;
        font-family: 'OpenSansSemiBold';
        color: #fff;
        text-align: center;
        text-transform: uppercase;
    }
    .homeTopLeft.fr.re_fl {
        float: none;
    }
    .blog .post .post-thumnai {
        width: 100%;
    }
    .blog .post .post-thumnai img {
        width: 100%;
    }
    .content-area {
        width: 100%;
    }
    .box-shadow .col-md-8 iframe {
        width: 100%;
        height: auto;
    }
    .box-shadow .col-md-4 .pull-left {
        width: auto;
    }
    .footerBot {
        background-color: #000;
        padding: 16px;
    }
    .largeTitle {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .section3 .col-md-4 .xxx {
        background: none;
        width: 100%;
        text-align: center;
        border: none;
        text-transform: none;
        font-size: 11px;
        font-family: 'OpenSansSemiBold';
        color: #fff;
        display: block;
        padding: 6px 15px;
        margin: 0 auto 10px;
    }
    .logo {
        text-align: center;
    }
    header .container .logo img {
        width: auto !important;
        height: auto;
    }
    header .container .logo img {
        width: auto !important;
        height: auto;
    }
    header .container .logo .widget {
        position: relative;
        right: 0px;
        top: 0px;
        text-align: center;
    }
    .menu li {
        background-color: #c41230;
        min-width: 130px;
        width: 100%;
        max-width: 100%;
        height: auto;
        text-transform: uppercase;
        padding: 20px 20px 10px;
        display: inline-block;
        vertical-align: middle;
        float: left;
        text-align: center;
        position: relative;
        border-left: 0px solid #000;
        cursor: pointer;
        font-family: Tahoma, Geneva, sans-serif;
    }
    .menu li:before {
        content: '';
        background: none;
        width: 20px;
        height: 32px;
        position: absolute;
        top: 33px;
        left: -11px;
    }
    .navbar-fixed-bottom .navbar-collapse,
    .navbar-fixed-top .navbar-collapse {
        max-height: 100%;
        height: auto;
        overflow: inherit;
    }
    body.custom-background {
        background-image: url(image/bg-1.jpg);
        background-repeat: repeat!important;
        background-position: top center;
        background-attachment: fixed;
    }
    .section1,
    .section2,
    .section3,
    .section4 {
        width: 100%;
        height: auto;
        max-width: 100%;
    }
    .homeTopRight.fl span.h4,
    .homeTopRight.fl span.h2 {
        font-weight: normal !important;
        font-family: arial;
        font-size: 19px !important;
        line-height: 1 !important;
    }
    .section2 .sheld {
        width: 100%;
        float: left;
        background-position: top center;
        background-repeat: no-repeat;
        position: relative;
        min-height: 250px;
    }
    .homeBotLeft {
        width: auto;
        text-align: right;
        margin: 0 30px;
    }
    .homeBotRight {
        padding-top: 10px;
        clear: both;
        padding: 15px;
    }
    .homeBot h2 {
        font-size: 30px;
        font-family: ProximaNovaRegular;
        color: rgb(35, 35, 35);
        text-align: center;
    }
    .homeBotRight li {
        max-width: 100%;
        width: 100%;
        margin: 0px;
        display: inline-block;
        vertical-align: middle;
    }
    .section3 .a_link {
        background: none;
        width: auto;
        text-align: center;
        border: none;
        text-transform: none;
    }
    .section3 .col-md-4 {
        width: 100%;
        height: auto;
        margin: 0px;
        display: inline-block;
        vertical-align: top;
    }
    .footerTop .col-md-3 {
        text-align: left;
        margin: 0px;
        display: inline-block;
        vertical-align: top;
        width: 100%;
    }
    .footerTop {
        background: url(image/border-bg.jpg);
        background-repeat: repeat-x;
        background-position: top left;
        padding: 15px;
        text-align: justify;
        display: table;
    }
    .section1 .col-md-5 {
        display: ;
        clear: both;
        padding-left: 0px;
        padding-right: 0px;
    }
    .mascot {
        padding: 0px !important;
    }
    .homeTopLeft.fr.re_fl > .custom {
        padding-left: 0px;
    }
    .homeTopLeft .mascot h2 {
        font-size: 24px;
        line-height: 33px;
        font-family: 'OpenSansSemiBold';
        color: #fff;
        text-align: center;
        text-transform: uppercase;
    }
    .homeTopLeft.fr.re_fl {
        float: none;
    }
    .blog .post .post-thumnai {
        width: 100%;
    }
    .blog .post .post-thumnai img {
        width: 100%;
    }
    .content-area {
        width: 100%;
    }
    .box-shadow .col-md-8 iframe {
        width: 100%;
        height: auto;
    }
    .box-shadow .col-md-4 .pull-left {
        width: auto;
    }
    .footerBot {
        background-color: #000;
        padding: 16px;
    }
    .largeTitle {
        display: none;
    }
    .table-2 {
        overflow: auto;
    }
    .pagecompare .col-md-9 {
        overflow: auto;
    }
    .pagecompare .shield {
        padding: 45px;
        float: none;
    }
    .LifeLock-Pricing .col-sm-4 > div:last-child {
        border: 1px solid black;
        border-radius: 0px 0px 5px 5px;
        min-height: auto;
        padding: 15px;
    }
}

@media only screen and (min-width: 321px) and (max-width: 560px) {
    .homeTopRight a.button {
        font-size: 15px;
        line-height: 20px;
        text-transform: uppercase;
        color: #fff;
        padding: 16px 90px;
        margin-top: 20px;
        display: block;
        padding-left: 9px !important;
    }
    header .container .logo img {
        width: auto !important;
        height: auto;
    }
    header .container .logo .widget {
        position: relative;
        right: 0px;
        top: 0px;
        text-align: center;
    }
    .menu li {
        background-color: #c41230;
        min-width: 130px;
        width: 100%;
        max-width: 100%;
        height: auto;
        text-transform: uppercase;
        padding: 20px 20px 10px;
        display: inline-block;
        vertical-align: middle;
        float: left;
        text-align: center;
        position: relative;
        border-left: 0px solid #000;
        cursor: pointer;
        font-family: Tahoma, Geneva, sans-serif;
    }
    .menu li:before {
        content: '';
        background: none;
        width: 20px;
        height: 32px;
        position: absolute;
        top: 33px;
        left: -11px;
    }
    .navbar-fixed-bottom .navbar-collapse,
    .navbar-fixed-top .navbar-collapse {
        max-height: 100%;
    }
    body.custom-background {
        background-image: url(image/bg-1.jpg);
        background-repeat: repeat!important;
        background-position: top center;
        background-attachment: fixed;
    }
    .section1,
    .section2,
    .section3,
    .section4 {
        width: 100%;
        height: auto;
        max-width: 100%;
    }
    .homeTopRight.fl span.h4,
    .homeTopRight.fl span.h2 {
        font-weight: normal !important;
        font-family: arial;
        font-size: 19px !important;
        line-height: 1 !important;
    }
    .section2 .sheld {
        width: 100%;
        float: left;
        background-position: top center;
        background-repeat: no-repeat;
        position: relative;
        min-height: 250px;
    }
    .homeBotLeft {
        width: auto;
        text-align: right;
        margin: 0 30px;
    }
    .homeBotRight {
        padding-top: 10px;
        clear: both;
        padding: 15px;
    }
    .homeBot h2 {
        font-size: 30px;
        font-family: ProximaNovaRegular;
        color: rgb(35, 35, 35);
        text-align: center;
    }
    .homeBotRight li {
        max-width: 100%;
        width: 100%;
        margin: 0px;
        display: inline-block;
        vertical-align: middle;
    }
    .section3 .a_link {
        background: none;
        width: auto;
        text-align: center;
        border: none;
        text-transform: none;
    }
    .section3 .col-md-4 {
        width: 100%;
        height: auto;
        margin: 0px;
        display: inline-block;
        vertical-align: top;
    }
    .footerTop .col-md-3 {
        text-align: left;
        margin: 0px;
        display: inline-block;
        vertical-align: top;
        width: 100%;
    }
    .footerTop {
        background: url(image/border-bg.jpg);
        background-repeat: repeat-x;
        background-position: top left;
        padding: 15px;
        text-align: justify;
        display: table;
    }
    .section1 .col-md-5 {
        display: table;
        clear: both;
        padding-left: 0px;
        padding-right: 0px;
    }
    .mascot {
        padding: 0px !important;
    }
    .homeTopLeft.fr.re_fl > .custom {
        padding-left: 0px;
    }
    .homeTopLeft.fr.re_fl > .custom .box.autoWidth {
        margin-left: 0px;
        padding-left: 0px;
        margin: 0px;
    }
    .section1 .homeTopLeft .shield {
        max-width: 100%;
        min-height: 320px;
        background: url(image/n-layer1-3.png) no-repeat top center;
        margin-left: 0px;
        padding: 78px;
        padding-top: 37px;
        float: none;
    }
    .section1 .homeTopLeft .mascot {
        background: none;
    }
    .homeTopLeft .holder {
        display: none;
    }
    .page .innerCont {
        margin: 0 auto;
        padding: 0px;
        position: relative;
        width: 100%;
    }
    .page .innerCont img {
        width: 100%;
    }
    .largeTitle {
        display: none;
    }
    .blog .post .post-thumnai {
        width: 100%;
    }
    .blog .post .post-thumnai img {
        width: 100%;
    }
    .content-area {
        width: 100%;
    }
    .sheld:before {
        /*margin-left: calc(100% - 312px);*/
    }
}
@media only screen and (min-width: 321px) and (max-width:375px) { 
    .sheld:before {
        margin-left: calc(100% - 375px) !important;
    }
}
@media only screen and (max-width: 480px) {}

*,
*:before,
*:after {
    -webkit-border-sizing: border-box;
    -moz-border-sizing: border-box;
    border-sizing: border-box;
}

.container > ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}

.title {
    font-family: 'Pacifico';
    font-weight: norma;
    font-size: 40px;
    text-align: center;
    line-height: 1.4;
    color: #2980B9;
}

.dropdown a {
    text-decoration: none;
}

.dropdown [data-toggle="dropdown"] {
    position: relative;
    background: black;
    color: #fff;
    border-bottom: 2px solid #dd4040;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    box-align: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    -ms-align-items: stretch;
    -o-align-items: stretch;
    align-items: stretch;
    -ms-flex-align: stretch;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: start;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    min-width: 285px;
}

.dropdown [data-toggle="dropdown"]:hover {}

.dropdown .icon-arrow {
    position: absolute;
    display: block;
    font-size: 0.7em;
    color: #fff;
    top: 14px;
    right: 10px;
}

.dropdown .icon-arrow.open {
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -moz-transition: -moz-transform 0.6s;
    -o-transition: -o-transform 0.6s;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
}

.dropdown .icon-arrow.close {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-transition: -moz-transform 0.6s;
    -o-transition: -o-transform 0.6s;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
}

.dropdown .icon-arrow:before {
    content: '\25BC';
}

.dropdown .dropdown-menu1 {
    overflow: hidden;
    width: 100%;
    background: #292929;
    color: #fff;
}

.dropdown .dropdown-menu1 li {
    display: block;
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    padding: 1em 0.5em;
    font-weight: 400;
    box-shadow: 0 -1px 0 #171717, inset 0 1px 0 #313131;
    cursor: pointer;
}

.dropdown .dropdown-menu li a {
    display: block;
    font-size: 0.875em;
    color: #fff;
    text-decoration: none;
    padding: 1em 0.5em;
    font-weight: 400;
    box-shadow: 0 -1px 0 #171717, inset 0 1px 0 #313131;
    cursor: pointer;
    background: #292929;
}

.dropdown .dropdown-menu1 li:hover {
    background: #dd4040;
    color: white !important;
}

.dropdown .show,
.dropdown .hide {
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}

.dropdown .show {
    display: block;
    width: 100%;
    max-height: 9999px;
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    animation: showAnimation 0.5s ease-in-out;
    -moz-animation: showAnimation 0.5s ease-in-out;
    -webkit-animation: showAnimation 0.5s ease-in-out;
    -moz-transition: max-height 1s ease-in-out;
    -o-transition: max-height 1s ease-in-out;
    -webkit-transition: max-height 1s ease-in-out;
    transition: max-height 1s ease-in-out;
}

.dropdown .hide {
    max-height: 0;
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    animation: hideAnimation 0.4s ease-out;
    -moz-animation: hideAnimation 0.4s ease-out;
    -webkit-animation: hideAnimation 0.4s ease-out;
    -moz-transition: max-height 0.6s ease-out;
    -o-transition: max-height 0.6s ease-out;
    -webkit-transition: max-height 0.6s ease-out;
    transition: max-height 0.6s ease-out;
}

@keyframes showAnimation {
    0% {
        -moz-transform: scaleY(0.1);
        -ms-transform: scaleY(0.1);
        -webkit-transform: scaleY(0.1);
        transform: scaleY(0.1);
    }
    40% {
        -moz-transform: scaleY(1.04);
        -ms-transform: scaleY(1.04);
        -webkit-transform: scaleY(1.04);
        transform: scaleY(1.04);
    }
    60% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
    }
    80% {
        -moz-transform: scaleY(1.04);
        -ms-transform: scaleY(1.04);
        -webkit-transform: scaleY(1.04);
        transform: scaleY(1.04);
    }
    100% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
    }
    80% {
        -moz-transform: scaleY(1.02);
        -ms-transform: scaleY(1.02);
        -webkit-transform: scaleY(1.02);
        transform: scaleY(1.02);
    }
    100% {
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@-moz-keyframes showAnimation {
    0% {
        -moz-transform: scaleY(0.1);
        -ms-transform: scaleY(0.1);
        -webkit-transform: scaleY(0.1);
        transform: scaleY(0.1);
    }
    40% {
        -moz-transform: scaleY(1.04);
        -ms-transform: scaleY(1.04);
        -webkit-transform: scaleY(1.04);
        transform: scaleY(1.04);
    }
    60% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
    }
    80% {
        -moz-transform: scaleY(1.04);
        -ms-transform: scaleY(1.04);
        -webkit-transform: scaleY(1.04);
        transform: scaleY(1.04);
    }
    100% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
    }
    80% {
        -moz-transform: scaleY(1.02);
        -ms-transform: scaleY(1.02);
        -webkit-transform: scaleY(1.02);
        transform: scaleY(1.02);
    }
    100% {
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@-webkit-keyframes showAnimation {
    0% {
        -moz-transform: scaleY(0.1);
        -ms-transform: scaleY(0.1);
        -webkit-transform: scaleY(0.1);
        transform: scaleY(0.1);
    }
    40% {
        -moz-transform: scaleY(1.04);
        -ms-transform: scaleY(1.04);
        -webkit-transform: scaleY(1.04);
        transform: scaleY(1.04);
    }
    60% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
    }
    80% {
        -moz-transform: scaleY(1.04);
        -ms-transform: scaleY(1.04);
        -webkit-transform: scaleY(1.04);
        transform: scaleY(1.04);
    }
    100% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
    }
    80% {
        -moz-transform: scaleY(1.02);
        -ms-transform: scaleY(1.02);
        -webkit-transform: scaleY(1.02);
        transform: scaleY(1.02);
    }
    100% {
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@keyframes hideAnimation {
    0% {
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    60% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
    }
    80% {
        -moz-transform: scaleY(1.02);
        -ms-transform: scaleY(1.02);
        -webkit-transform: scaleY(1.02);
        transform: scaleY(1.02);
    }
    100% {
        -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
    }
}

@-moz-keyframes hideAnimation {
    0% {
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    60% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
    }
    80% {
        -moz-transform: scaleY(1.02);
        -ms-transform: scaleY(1.02);
        -webkit-transform: scaleY(1.02);
        transform: scaleY(1.02);
    }
    100% {
        -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
    }
}

@-webkit-keyframes hideAnimation {
    0% {
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    60% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
    }
    80% {
        -moz-transform: scaleY(1.02);
        -ms-transform: scaleY(1.02);
        -webkit-transform: scaleY(1.02);
        transform: scaleY(1.02);
    }
    100% {
        -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
    }
}

.custom-replace {
    color: #fff !important;
}


/*.garung-fontsize-12 h3{*/

.garung-product-box .header-more h3 {
    font-size: 12px !important;
}

.dropp-header__btn {
    -moz-box-flex: 1;
    color: #fff;
    display: block;
    flex: 1 1 0;
    transition: all 0.3s ease-in-out 0s;
}

.promo .homeTopLeft .shield p span {
    font-size: 22px !important;
}

.promo .homeTopLeft .shield h3 {
    margin-bottom: 8px !important;
}

.promo .homeTopLeft .boxCont {
    padding-top: 15px;
}
.promo .homeTopLeft .boxCont a {
    color: #ffff66;
}
.promo .homeTopLeft .boxCont h2 {
    font-size: 18px !important;
}
/*================== set font =============================*/
.homepage .sheld p {
    font-family: arial !important;
}
footer #text-5 .textwidget li p,footer #text-6 .textwidget li p,footer #text-7 .textwidget .footerConnect li p,
footer #text-7 .textwidget .footerConnect li div,
footer #text-5 .textwidget a,footer #text-6 .textwidget a,footer #text-7 .textwidget a,
{
    font-family: arial !important;
}
.footer-bot-product {
    font-size: 12px;
    font-family: arial;
}
.garung_tab_mobile {
    display: none;
}
.widget_rss .widget-title .rsswidget {
    color: #fff;
}
.widget_rss .widget-title .rsswidget img {
    display: none;
}
#garung-blog .entry-content p{
    font-family: arial,helvetica,sans-serif !important;
    font-size: 12pt !important;
}
header #navbar .primary-menu {
    float: left;
    width: 100%;
}
header #navbar .nav {
    width: 100%;
}
header #navbar .nav ul.menu {
    width: 100%;
}
.menu li:last-child::before {
    content: '';
    background: url(image/border-lock.png) no-repeat center center;
    width: 20px;
    height: 32px;
    position: absolute;
    top: 33px;
    right: -11px;
}
/*header #navbar .nav ul.menu li{
    width: calc(100%/5);
    min-width: 97.9px !important;
}*/
